<!-- Wappler include head-page="layouts/main_shell" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="all_users" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxStateManagement:{}}" --><!-- Wappler include head-page="layouts/main_shell" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="all_users" appconnect="local" components="{dmxBootstrap5TableGenerator:{},dmxStateManagement:{}}" -->
<dmx-query-manager id="query1"></dmx-query-manager>
<dmx-serverconnect id="scListAllUsers" url="/api/users/list"></dmx-serverconnect>
<div class="row">
    <div class="col">
        <button id="btn1" class="btn btn-secondary mt-2 mb-2">Add New User</button>
    </div>
</div>
<div class="d-flex">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th class="sorting" dmx-on:click="query1.set('sort','fName');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='fName' &amp;&amp; query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='fName' &amp;&amp; query1.data.dir == 'desc'">First Name</th>
                    <th class="sorting" dmx-on:click="query1.set('sort','lName');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='lName' &amp;&amp; query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='lName' &amp;&amp; query1.data.dir == 'desc'">Last Name</th>
                    <th class="sorting" dmx-on:click="query1.set('sort','displayName');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='displayName' &amp;&amp; query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='displayName' &amp;&amp; query1.data.dir == 'desc'">Display Name</th>
                    <th class="sorting" dmx-on:click="query1.set('sort','roleName');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='roleName' &amp;&amp; query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='roleName' &amp;&amp; query1.data.dir == 'desc'">Role name</th>
                    <th class="sorting" dmx-on:click="query1.set('sort','tenantName');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='tenantName' &amp;&amp; query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='tenantName' &amp;&amp; query1.data.dir == 'desc'">Tenant name</th>
                </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="scListAllUsers.data.query" id="tableRepeat1" dmx-state="query1" dmx-sort="sort" dmx-order="dir">
                <tr>
                    <td dmx-text="fName"></td>
                    <td dmx-text="lName"></td>
                    <td dmx-text="displayName"></td>
                    <td dmx-text="roleName"></td>
                    <td dmx-text="tenantName"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<meta name="ac:route" content="/users/all_users">