<!-- Wappler include head-page="layouts/main_shell" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="create_user" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxStateManagement:{}}" -->
<dmx-query-manager id="query1"></dmx-query-manager>
<dmx-serverconnect id="scRoles" url="/api/roles/list_roles"></dmx-serverconnect>
<dmx-serverconnect id="scTeams" url="/api/teams/list_teams"></dmx-serverconnect>
<dmx-serverconnect id="scTeamRoles" url="/api/teams/get_team_role" dmx-param:teamid="" dmx-param:id="" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="scSessContext" url="/api/security/sessionContext"></dmx-serverconnect>

<div class="row g-4">
    <div class="col-12">
        <div class="d-flex align-items-center justify-content-between gap-3">
            <div>
                <h1 class="mb-1">Create User</h1>
                <p class="text-muted mb-0">Add a user to the current tenant, assign their security role, and place them in a team.</p>
            </div>
            <a class="btn btn-outline-secondary" href="/users/all_users">Back to users</a>
        </div>
    </div>

    <div class="col-12 col-xl-7">
        <div class="card border-0 shadow-sm">
            <div class="card-header bg-white">
                <h2 class="h5 mb-0">User details</h2>
            </div>
            <div class="card-body">
                <form id="frmCreateUser" method="post" action="/api/users/create_user">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input id="inp_email" name="email" type="email" class="form-control" required><label for="inp_email" class="form-label">Email</label>
                            </div>


                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-floating mb-3"> <input id="inp_fName" name="fName" type="text" class="form-control"><label for="inp_fName" class="form-label">First name</label>
                            </div>


                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-floating mb-3">
                                <input id="inp_lName" name="lName" type="text" class="form-control"><label for="inp_lName" class="form-label">Last name</label>
                            </div>


                        </div>

                        <div class="col-12">
                            <div class="form-floating mb-3"> <input id="inp_displayName" name="displayName" type="text" class="form-control" required="" dmx-bind:value="inp_fName.value+' '+inp_lName.value">
                                <label for="inp_displayName" class="form-label">Display name</label>
                            </div>


                        </div>

                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input id="inp_password" name="password" type="text" class="form-control" required><label for="inp_password" class="form-label">Temporary password</label>
                            </div>


                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-floating mb-3">
                                <select id="inp_teamId" name="teamId" class="form-select" required="" dmx-bind:options="scTeams.data.query" optiontext="teamName" optionvalue="id" dmx-on:updated="scTeamRoles.load({teamid: value, id: value})">
                                    <option value="">Select team</option>
                                </select><label for="inp_teamId" class="form-label">Team</label>
                            </div>


                            <input id="hidTeamId" name="hidTeamId" type="hidden" class="form-control" dmx-bind:value="inp_teamId.value">
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating mb-3"> <select id="inp_teamRole" name="teamRole" class="form-select" required="" dmx-bind:options="scTeamRoles.data.qryTeamRoles" optiontext="roleDesc" optionvalue="id">
                                    <option value="">Select Role</option>
                                </select><label for="inp_teamRole" class="form-label">Team member Role</label><input id="hidTeamRole" name="hidTeamRole" type="hidden" class="form-control" dmx-bind:value="inp_teamRole.value">
                            </div>



                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating mb-3"> <select id="inp_roleId" name="roleId" class="form-select form-select-sm" required="" dmx-bind:options="scRoles.data.query" optiontext="roleName" optionvalue="id">
                                    <option value="">Select User Access Level</option>
                                </select>
                                <input id="hidRoleId" name="hidRoleId" type="number" class="form-control" dmx-bind:value="inp_roleId.value"><label for="inp_roleId" class="form-label">User Access</label>
                            </div>


                        </div>




                    </div>

                    <div class="d-flex gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Create User</button>
                        <a class="btn btn-light" href="/users/all_users">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/users/create_user">